.form-rate-button__button-item {
  display: none;

  // selected: filled star
  &:checked ~ .form-rate-button__icon:before {
    content: '\e838';
  }

  //before selected by hover: filled
  &:checked + .form-rate-button__icon:hover:before,
  &:checked + .form-rate-button__icon:hover ~ .form-rate-button__icon:before,
  &:checked ~ .form-rate-button__icon:hover:before,
  &:checked ~ .form-rate-button__icon:hover ~ .form-rate-button__icon:before {
    content: '\e838';
  }
}
