.nav-bar__navigation-item_isDropdown {
  cursor: pointer;

  @media print, screen and (min-width: 0px) {
    & {
      display: grid;
      grid: "content icon" "list list" auto / 1fr auto;
      justify-items: center;

      &.nav-bar__navigation-item_isActive > .nav-bar__expand-icon {
        &:after {
          content: "\e5ce";
        }
      }

      & > .nav-bar__navigation-list {
        grid-area: list;

        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s linear;
      }
    }
  }

  @media print, screen and (min-width: 992px) {
    & {
      display: flex;
      position: relative;

      &:hover {
        & > .nav-bar__navigation-list {
          visibility: visible;
          opacity: 1;
          z-index: 1;

          & > .nav-bar__navigation-item_isDropdown {
            & > .nav-bar__expand-icon:after {
              transform: rotate(-90deg);
            }

            &:hover {
              & > .nav-bar__navigation-list {
                top: 0;
                left: 100%;
              }
            }
          }
        }
      }

      &.nav-bar__navigation-item_isActive > .nav-bar__expand-icon {
        &:after {
          content: "\e5cf";
        }
      }

      & > .nav-bar__navigation-list {
        position: absolute;
        top: 100%;
        left: 0;
        visibility: hidden;
        opacity: 0;
        transition: opacity linear 0.2s;

        //redefine mobile
        overflow: initial;
        max-height: initial;

        & > .nav-bar__navigation-item {
          margin-right: 0;
        }
      }
    }
  }
}
