.footer__widgets {
  border: solid black;
  border-width: 1px 0;

  @media print, screen and (min-width: 0px) {
    grid-area: widgets;
    display: grid;
    grid: 'logo' 'description' 'navigation' 'about-us-section' 'support' 'subscription';
    grid-row-gap: 16px / 14px * 1em;
    justify-items: center;
    padding-top: 100px / 14px * 1em;
    padding-bottom: 100px / 14px * 1em;
  }

  @media print, screen and (min-width: 992px) {
    $padding: 140px;
    $descriptionWidth: 260px / (1440px - $padding * 2) * 100%;
    $navigationGapWidth: 40px / (1440px - $padding * 2) * 100%;
    $aboutGapWidth: 57px / (1440px - $padding * 2) * 100%;
    $supportGapWidth: 92px / (1440px - $padding * 2) * 100%;
    $subscriptionGapWidth: 54px / (1440px - $padding * 2) * 100%;
    grid:
      'logo . navigation . about-us-section . support . subscription' auto
      'description . navigation . about-us-section . support . subscription' 1fr / #{$descriptionWidth} #{$navigationGapWidth} auto #{$aboutGapWidth} auto #{$supportGapWidth} auto #{$subscriptionGapWidth} auto;
    justify-items: start;
  }
}
