extends ~@pug/layouts/ui-kit.pug

block variables
  - var lang = 'ru';
  - var keywords = 'FSD, Frontend, TOXIN, образование, верстка';
  - var description = 'Цвета и шрифты, используемые в базовом макете сайта TOXIN';
  - var title = 'Цвета и шрифт';

block content