.form-dropdown__datepicker {
  position: absolute;
  left: 0;
  bottom: 0;
  text-indent: initial;
  z-index: 100;
  cursor: initial;

  /* lib redefinition */
  .datepicker-inline {
    position: absolute;
    top: 5.56px;
  }
}
