@use "./../variables.scss";

$ICON_WIDTH: 3.666666666666667em;
.button_isLink {
  position: relative;
  padding-left: $ICON_WIDTH + variables.$X_PADDING;
  padding-right: $ICON_WIDTH + variables.$X_PADDING;
  background: rgba(169, 169, 169, 1);

  &:hover {
    background: rgba(169, 169, 169, 0.5);
  }

  .icon {
    width: $ICON_WIDTH;
    top: 0;
    right: 0;

    &:after {
      content: "\e5c8";
      color: white;
    }
  }
}
