.form-toggle__button-item {
  appearance: none;
  position: relative;
  display: inline-block;
  width: 2.857142857142857em;
  height: 1.428571428571429em;
  border: 1px solid black;
  border-radius: 25% / 50%;
  cursor: pointer;

  &:before {
    content: "";
    width: 30%;
    height: 60%;
    position: absolute;
    left: 10%;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: black;
    border-radius: 100%;
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }

  &:checked:before {
    left: initial;
    transform: translateX(200%);
  }
}
