@use "@utils/devTools/devTools.scss";

@use "@thematic/main-theme.blocks/gradients.scss";

.form-bullet-list_rich {
  .form-bullet-list__item {
    font-weight: 700;

    &:not(:last-child) {
      border-bottom: 1px solid devTools.getColor(color__dark-shade, 0.1);
    }

    &:before {
      font-size: 2rem;
      line-height: 2rem;
      @include devTools.gradientFont(gradients.primary(1));
    }

    .form-bullet-list__description {
      font-weight: 400;
    }
  }
}
