.footer__list-checkbox {
  & + .footer__list {
    max-height: initial;
  }

  &:checked + .footer__list {
    max-height: initial;

    & > *:first-child {
      &:after {
        content: "";
      }
    }
  }
}

.footer__list {
  align-content: flex-start;
  justify-items: start;

  & > *:first-child {
    &:after {
      content: "";
    }
  }
}
