.form-like-button__button {
  appearance: none;
  width: 40px / 14px * 1em;
  height: 20px / 14px * 1em;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px black;
  border-radius: 25% / 50%;
  cursor: pointer;

  &:before {
    content: '\e87e';
    width: 50%;
    height: 1em;
    font-size: 10px / 14px * 1em;
    line-height: 1em;
    text-align: center;
    font-family: 'Material Icons';
    color: black;
  }

  &:checked:before {
    content: '\e87d';
  }
}
