.form-range-slider {
  .form-range-slider__slider {
    grid-area: slider;
    align-self: end;
  }
  /* lib redefinition */
  .noUi-horizontal {
    height: 0.4285714285714286em;
  }
  .noUi-target,
  .noUi-connect {
    border-radius: 3px;
  }
  .noUi-horizontal .noUi-handle {
    width: 1.142857142857143em;
    height: 1.142857142857143em;
    top: -0.4285714285714286em;
    right: -0.5714285714285714em;
    border: 2px solid #ffffff;
    border-radius: 100%;
    &:focus {
      outline: initial;
    }
  }
  .noUi-handle {
    border-radius: 100%;
    box-shadow: initial;
    cursor: pointer;
    &:after,
    &:before {
      display: none;
    }
  }
}
