.form-elements-layout__like-button {
  @media print, screen and (min-width: 1200px) {
    grid-area: like-button;
    display: grid;
    grid: 'label label' 'btn-checked btn-unchecked';
    gap: 10px / 14px * 1em;
    place-content: end start;
  }
}
