include ~@common.blocks/primitives/heading/heading.pug
include ~@common.blocks/primitives/icon/icon.pug

include ./__item-quantity-list/form-dropdown__item-quantity-list.pug
include ./__datepicker/form-dropdown__datepicker.pug

//-
  type: 'date' | 'item-quantity'
    when 'date':
      range?, selectedDates?, altFields?, isAltField? -> see mixin form-dropdown__datepicker
    when 'item-quantity'
      openingMethod?, groups, list -> see mixin form-dropdown__item-quantity-list
  heading?: see mixin heading
  description?: see mixin heading
  headingMarginBottom?: see marginBottom in mixin heading
  name?: string - name of component hidden input
  placeholder?: string - text of placeholder
  isFilter?: boolean - if true, input change event will reload page with chosen value(get method)
  Tip: mixin also uses 'and attributes'(&attributes)
mixin form-dropdown(type, { heading = '', description = '', headingMarginBottom = '', name = 'dropdown', placeholder = '', range = false, selectedDates = '', altFields = undefined, isAltField = false, openingMethod = 'folded', groups = {}, list = {}, isFilter = false } = {})
  .form-dropdown.js-form-dropdown&attributes(attributes)
    if heading
      +heading(heading, { description, marginBottom: headingMarginBottom, isLabel: true })(
        for=name
      )
    .form-field
      button.form-dropdown__expand-btn.js-form-dropdown__expand-btn(id=name, type="button")
        +icon({ content: 'expand_more', width: 'large' })
      case type
        when 'date'
          +form-dropdown__datepicker({ name, range, selectedDates, placeholder, altFields, isAltField, isFilter })
        when 'item-quantity'
          +form-dropdown__item-quantity-list({ name, placeholder, openingMethod, groups, list, isFilter })
