.nav-bar__navigation-item {
  @media print, screen and (min-width: 0px) {
    text-align: center;
  }

  @media print, screen and (min-width: 992px) {
    text-align: left;
    margin-right: 20px / 14px * 1em;

    &:last-child {
      margin-right: 0;
    }
  }
}
