.form-elements-layout__subscription-text-field {
  @media print, screen and (min-width: 1200px) {
    grid-area: subscription-text-field;
    width: 267px / 14px * 1em;
    padding-top: 18px / 14px * 1em;
  }
}
