extends ~@layouts/basic/ui-kit-layout/ui-kit-layout.pug

//- components
include ~@common.blocks/containers/pick-room-card/pick-room-card.pug
include ~@common.blocks/containers/registration-card/registration-card.pug
include ~@common.blocks/containers/entering-card/entering-card.pug
include ~@common.blocks/containers/room-definition-card/room-definition-card.pug
include ~@common.blocks/containers/room-card/room-card.pug
include ~@common.blocks/primitives/datepicker-card/datepicker-card.pug

block append variables
  -
    title = 'Карточки';
    description = 'Карточки, используемые в базовом макете сайта TOXIN';

block content
  - const msPerDay = 1000 * 60 * 60 * 24;
  main.cards-layout.content-container
    .cards-layout__pick-room
      +pick-room-card
    .cards-layout__room-definition
      +room-definition-card({ roomNumber: 888, roomGrade: 'Люкс', paymentAmount: 9990, selectedDates: '2019-08-19,2019-08-23', guestsGroups: { гости: { selectionText: 'гость', textPlural: 'гостя' }, младенцы: { selectionText: 'младенец', textPlural: 'младенцев' } }, guestsList: { взрослые: { default: 2, min: 0, max: 1 / 0, group: 'гости' }, дети: { default: 1, min: 0, max: 1 / 0, group: 'гости' }, младенцы: { default: 0, min: 0, max: 1 / 0 } }, servicesPayment: 2179, servicesSale: 2179, additionalServicesPayment: 300 })
    .cards-layout__calendar
      -
        const datepickerCardSelectedDates = `${new Date(
          Date.now() + msPerDay
        ).toISOString()},${new Date(Date.now() + msPerDay * 4).toISOString()}`;
      +datepicker-card({ selectedDates: datepickerCardSelectedDates, range: true })
    .cards-layout__registration
      +registration-card
    .cards-layout__entering
      +entering-card
    .cards-layout__luxury-room-card
      +room-card({ href: '/mock.html', roomNumber: 888, roomGrade: 'Люкс', paymentAmount: 9990, rate: 5, commentsAmount: 145, paths: [htmlWebpackPlugin ? require('@assets/pictures/contents/rooms/luxury/888/888.jpg').default : undefined, htmlWebpackPlugin ? require('@assets/pictures/contents/rooms/common/840/840.jpg').default : undefined, htmlWebpackPlugin ? require('@assets/pictures/contents/rooms/luxury/888/888.jpg').default : undefined, htmlWebpackPlugin ? require('@assets/pictures/contents/rooms/common/840/840.jpg').default : undefined] })
    .cards-layout__common-room-card
      +room-card({ href: '/mock.html', roomNumber: 840, paymentAmount: 9900, rate: 4, commentsAmount: 65, paths: [htmlWebpackPlugin ? require('@assets/pictures/contents/rooms/common/840/840.jpg').default : undefined, htmlWebpackPlugin ? require('@assets/pictures/contents/rooms/luxury/888/888.jpg').default : undefined, htmlWebpackPlugin ? require('@assets/pictures/contents/rooms/common/840/840.jpg').default : undefined, htmlWebpackPlugin ? require('@assets/pictures/contents/rooms/luxury/888/888.jpg').default : undefined] })
