.form-expandable-checkbox-list__list {
  overflow: hidden;
  visibility: hidden;
  max-height: 0;
  transition: max-height 0.3s linear, visibility 0.3s linear;
  margin-top: 0.5em;
  text-transform: none;
}
