extends ~@layouts/basic/ui-kit-layout/ui-kit-layout.pug

//- components
include ~@common.blocks/primitives/heading/heading.pug
include ~@common.blocks/primitives/form-text-field/form-text-field.pug
include ~@common.blocks/primitives/form-dropdown/form-dropdown.pug
include ~@common.blocks/primitives/form-range-slider/form-range-slider.pug
include ~@common.blocks/containers/form-checkbox-buttons/form-checkbox-buttons.pug
include ~@common.blocks/containers/form-radio-buttons/form-radio-buttons.pug
include ~@common.blocks/primitives/form-toggle/form-toggle.pug
include ~@common.blocks/primitives/form-like-button/form-like-button.pug
include ~@common.blocks/containers/form-rate-button/form-rate-button.pug
include ~@common.blocks/primitives/button/button.pug
include ~@common.blocks/specific/pagination/pagination.pug
include ~@common.blocks/containers/form-expandable-checkbox-list/form-expandable-checkbox-list.pug
include ~@common.blocks/containers/form-bullet-list/form-bullet-list.pug
include ~@common.blocks/containers/comments/comments.pug

block append variables
  -
    title = 'Формы';
    description = 'Формы, используемые в базовом макете сайта TOXIN';

block content
  form(method="get", name="main-form")
    main.form-elements-layout
      .form-elements-layout__text-field-default
        +form-text-field({ heading: { h3: 'text field' }, description: 'default', name: 'email', type: 'email' })
      .form-elements-layout__text-field-hover
        +form-text-field({ heading: { h3: 'text field' }, description: 'hover / focus', name: 'text', placeholder: 'Text', value: 'This is pretty awesome', autofocus: 'autofocus' })
      .form-elements-layout__dropdown
        +form-dropdown('item-quantity', { heading: { h3: 'dropdown' }, description: 'default', name: 'guests', placeholder: 'Сколько гостей', openingMethod: 'applied', groups: { гости: { selectionText: 'гость', textPlural: 'гостя' }, младенцы: { selectionText: 'младенец', textPlural: 'младенцев' } }, list: { взрослые: { default: 0, min: 0, max: 1 / 0, group: 'гости' }, дети: { default: 0, min: 0, max: 1 / 0, group: 'гости' }, младенцы: { default: 0, min: 0, max: 1 / 0 } } })
      .form-elements-layout__masked-text-field
        +form-text-field({ heading: { h3: 'masked text field' }, description: 'default', name: 'masked-form-date', type: 'date' })
      .form-elements-layout__date-dropdown
        +form-dropdown('date', { heading: { h3: 'date dropdown' }, name: 'date-1' })
        +form-dropdown('date', { heading: { h3: 'date dropdown' }, name: 'date-2', selectedDates: '2019-08-19' })
      .form-elements-layout__filter-date-dropdown
        +form-dropdown('date', { heading: { h3: 'filter date dropdown' }, name: 'filter-date', range: true, selectedDates: '2019-08-19,2019-08-23' })
      .form-elements-layout__subscription-text-field
        +form-text-field({ heading: { h3: 'subscription text field' }, name: 'subscription-form-text-field', type: 'email', materialIcon: 'arrow_forward' })
      .form-elements-layout__checkbox-buttons
        +form-checkbox-buttons({ heading: { h3: 'checkbox buttons' }, buttons: { 'is-smoking': { label: 'Можно курить' }, 'is-with-pets': { label: 'Можно с питомцами', checked: true }, 'is-guests': { label: 'Можно пригласить гостей (до 10 человек)', checked: true } } })
      .form-elements-layout__radio-buttons
        +form-radio-buttons({ heading: { h3: 'radio buttons' }, buttons: { 'is-male': { label: 'Мужчина', checked: true }, 'is-female': { label: 'Женщина' } } })
      .form-elements-layout__toggle
        +heading({ h3: 'toggle' }) 
        +form-toggle({ name: 'special-offer-1', label: 'Получать спецпредложения', checked: true })
        +form-toggle({ name: 'special-offer-2', label: 'Получать спецпредложения' })
      .form-elements-layout__like-button
        .form-elements-layout__like-button-label
          +heading({ h3: 'like button' })
        +form-like-button({ name: 'likes-1', counter: '2' })
        +form-like-button({ name: 'likes-2', counter: '12', checked: true })
      .form-elements-layout__rate-button
        +form-rate-button({ heading: { h3: 'rate button' }, name: 'rate-1', rate: 4 })
        +form-rate-button({ name: 'rate-2', rate: 5 })
      .form-elements-layout__range-slider
        +form-range-slider({ name: 'price', range: { min: 341, max: 15454 }, start: [5000, 10000] })
      .form-elements-layout__button-fill
        h3.form-elements-layout__button-fill-heading buttons
        +button(type="button", value="click me")
        +button(type="button", value="click me")
      .form-elements-layout__button-empty
        +button({ appearance: 'bordered' })(type="button", value="click me")
        +button({ appearance: 'bordered' })(type="button", value="click me")
      .form-elements-layout__button-icon-link
        +button({ appearance: 'like-a-icon-link' })(type="button", value="click me")
        +button({ appearance: 'like-a-icon-link' })(type="button", value="click me")
      .form-elements-layout__button-long
        +button({ appearance: 'like-a-link' })(type="submit", value="перейти к оплате")
      .form-elements-layout__pagination
        +heading({ h3: 'pagination' }, { marginBottom: 'large' })
        +pagination({ addressingMethod: 'async', total: 179, text: 'вариантов аренды' })
      .form-elements-layout__dropdown-default-plural
        +form-dropdown('item-quantity', { heading: { h3: 'dropdown' }, description: 'default', name: 'facilities-1', groups: { спальни: { selectionText: 'спальня', textPlural: 'спальни' }, кровати: { selectionText: 'кровать', textPlural: 'кровати' }, 'ванные комнаты': { selectionText: 'ванная комната', textPlural: 'ванные комнаты' } }, list: { спальни: { default: 2, min: 1, max: 3 }, кровати: { default: 2, min: 1, max: 3 }, 'ванные комнаты': { default: 0, min: 0, max: 2 } } })
      .form-elements-layout__dropdown-expanded-plural.js-form-elements-layout__dropdown-expanded-plural
        +form-dropdown('item-quantity', { heading: { h3: 'dropdown' }, description: 'expanded', name: 'facilities-2', groups: { спальни: { selectionText: 'спальня', textPlural: 'спальни' }, кровати: { selectionText: 'кровать', textPlural: 'кровати' }, 'ванные комнаты': { selectionText: 'ванная комната', textPlural: 'ванные комнаты' } }, list: { спальни: { default: 2, min: 1, max: 3 }, кровати: { default: 2, min: 1, max: 3 }, 'ванные комнаты': { default: 0, min: 0, max: 2 } } })
      .form-elements-layout__dropdown-expanded-apply.js-form-elements-layout__dropdown-expanded-apply
        +form-dropdown('item-quantity', { heading: { h3: 'dropdown' }, name: 'guests-1', placeholder: 'Сколько гостей', openingMethod: 'applied', groups: { гости: { selectionText: 'гость', textPlural: 'гостя' }, младенцы: { selectionText: 'младенец', textPlural: 'младенцев' } }, list: { взрослые: { default: 0, min: 0, max: 1 / 0, group: 'гости' }, дети: { default: 0, min: 0, max: 1 / 0, group: 'гости' }, младенцы: { default: 0, min: 0, max: 1 / 0 } } })
      .form-elements-layout__dropdown-expanded-clear-apply.js-form-elements-layout__dropdown-expanded-clear-apply
        +form-dropdown('item-quantity', { heading: { h3: 'dropdown' }, name: 'guests-2', placeholder: 'Сколько гостей', openingMethod: 'applied', groups: { гости: { selectionText: 'гость', textPlural: 'гостя' }, младенцы: { selectionText: 'младенец', textPlural: 'младенцев' } }, list: { взрослые: { default: 2, min: 0, max: 1 / 0, group: 'гости' }, дети: { default: 1, min: 0, max: 1 / 0, group: 'гости' }, младенцы: { default: 0, min: 0, max: 1 / 0 } } })
      .form-elements-layout__expandable-checkbox-list
        +form-expandable-checkbox-list({ heading: { h3: 'expandable checkbox list' }, buttons: { breakfast: { label: 'Завтрак' }, desk: { label: 'Письменный стол', checked: true }, 'feeding-chair': { label: 'Стол для кормления', checked: true }, cot: { label: 'Кроватка', checked: true }, 'tv-1': { label: 'Телевизор' }, 'shampoo-1': { label: 'Шампунь' }, 'tv-2': { label: 'Телевизор' }, 'shampoo-2': { label: 'Шампунь' } } })
        +form-expandable-checkbox-list({ heading: { h3: 'expandable checkbox list' }, buttons: { 'breakfast-copy': { label: 'Завтрак' }, 'desk-copy': { label: 'Письменный стол', checked: true }, 'feeding-chair-copy': { label: 'Стол для кормления', checked: true }, 'cot-copy': { label: 'Кроватка', checked: true }, 'tv-1-copy': { label: 'Телевизор' }, 'shampoo-1-copy': { label: 'Шампунь' }, 'tv-2-copy': { label: 'Телевизор' }, 'shampoo-2-copy': { label: 'Шампунь' } }, checked: true })
      .form-elements-layout__rich-checkbox-buttons
        +form-checkbox-buttons({ heading: { h3: 'rich checkbox buttons' }, type: 'detailed', buttons: { 'wide-corridor': { label: 'Широкий коридор', description: 'Ширина коридоров в номере не менее 91 см.' }, 'assistant-for-the-disabled': { label: 'Помощник для инвалидов', description: 'На 1 этаже вас встретит специалист и проводит до номера.' } } })
      .form-elements-layout__bullet-list
        +form-bullet-list({ heading: { h3: 'bullet list' }, items: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'] })
      .form-elements-layout__logo-comfort
        +form-bullet-list({ listStyle: 'material-icon', items: { Комфорт: { icon: 'insert_emoticon', description: 'Шумопоглощающие стены' }, Удобство: { icon: 'location_city', description: 'Окно в каждой из спален' } } })
      -
        const msPerDay = 1000 * 60 * 60 * 24;
        const commentDate = `${new Date(Date.now() + msPerDay * 5).toISOString()}`;
      .form-elements-layout__comment
        +comments({ items: { 'comment-1': { personName: 'Мурад Сарафанов', iconPath: htmlWebpackPlugin ? require('@assets/pictures/contents/personas/1/1.jpg').default : undefined, date: commentDate, dateText: '5 дней назад', content: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.', likeButtonCounter: 12, isLikeButtonChecked: 'checked' } } })
