.form-elements-layout__button-icon-link {
  @media print, screen and (min-width: 1200px) {
    grid-area: button-icon-link;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 22px / 14px * 1em;
    place-items: start;
    margin-top: 16px / 320px * 100%;
  }
}
