/* lib redefinition */
.card-datepicker {
  .datepicker-inline {
    width: 22.85714285714286em;
  }

  .datepicker {
    width: initial;
    font: inherit;
    padding: 1.428571428571429em;
  }

  .datepicker--nav,
  .datepicker--content {
    padding: 0;
  }

  .datepicker--nav {
    border-bottom: 0;
    min-height: initial;
  }
  .datepicker--nav-title i {
    color: inherit;
  }
  .datepicker--nav-action {
    font-family: "Material Icons";
    width: initial;
    border-radius: 0;
  }

  .datepicker--content {
    margin-top: 2.142857142857143em;
  }
  .datepicker--days-names {
    margin: 0;
  }
  .datepicker--cell,
  .datepicker--day-name {
    height: 3.333333333333333em;
  }
  .datepicker--cell {
    &.-range-from-:before,
    &.-range-to-:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      width: 50%;
    }
    &.-range-from-:before {
      right: 0;
    }
    &.-range-to-:before {
      left: 0;
    }
  }

  .apply-control {
    margin-top: 1.428571428571429em;
  }
}
