.nav-bar__login_isConfirmed {
  &:before {
    content: "";
  }

  @media print, screen and (min-width: 992px) {
    & {
      &:before {
        border-left: 1px solid black;
        margin-right: 1.428571428571429em;
      }
    }
  }
}
