@use '@utils/devTools/styles/mixins.scss';

@include mixins.importFont('Toxin Logo Font', './fonts/toxin-logo-font.ttf');

.logo__title {
  font-family: 'Toxin Logo Font';
  font-size: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
}
