.nav-bar__navigation-item_isDropdown {
  display: grid;
  grid: "content icon" "list list" auto / 1fr auto;
  justify-items: center;

  &.nav-bar__navigation-item_isActive > .nav-bar__expand-icon {
    &:after {
      content: "\e5ce";
    }
  }

  & > .nav-bar__navigation-list {
    grid-area: list;

    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s linear;
  }
}
