@use "@utils/devTools/devTools.scss";

.nav-bar__navigation-item {
  color: devTools.getColor(color__dark-shade, 0.5);

  &:hover {
    color: devTools.getColor(color__dark-shade, 0.75);

    & > .nav-bar__expand-icon:after {
      color: devTools.getColor(color__dark-shade, 0.75);
    }
  }
}
