.headers-footers-layout {
  @media print, screen and (min-width: 0px) {
    display: grid;
    justify-items: center;
    grid-row-gap: 40px / 14px * 1em;
    padding-top: 62px / 1440px * 100%;
    padding-bottom: 140px / 1440px * 100%;
  }
}
