include ~@common.blocks/primitives/heading/heading.pug
include ~@common.blocks/containers/form-bullet-list/form-bullet-list.pug

//-
  heading?: see mixin heading
  headingMarginBottom?: marginBottom in mixin heading
  items: { ['title': string]: number } - data partitions, numbers is [0; 1], the first number isn't 0, up to 5 items
  dataName?: string - name of data content
  list?: boolean - append list with designations
  Tip: mixin also uses 'and attributes'(&attributes)
mixin donut-chart({ heading = '', headingMarginBottom = 'medium', items = {}, dataName = 'data', list = false } = {})
  -
    let total = 0;
    Object.values(items).forEach((value) => {
      total += value;
    });

    const bulletItems = [];
    const chartsRatio = [];
    Object.entries(items).forEach(([key, value]) => {
      bulletItems.push(key);
      chartsRatio.push(value / total);
    });
  .donut-chart&attributes(attributes)
    .donut-chart__heading
      if heading
        +heading(heading, { marginBottom: headingMarginBottom })
    .donut-chart__chart
      -
        const round = 360;
        const gapDegree = chartsRatio.length > 1 ? 3 : 0;
        let startVal = 0;
        let endVal = 0;
      each ratio in chartsRatio
        - endVal += ratio !== 0 ? ratio * round : 0;
        .donut-chart__slice(
          style=`--start:${startVal + gapDegree / 2}deg; --end:${endVal - gapDegree / 2}deg;`
        )
        - startVal += ratio !== 0 ? ratio * round : 0;
      .donut-chart__counter
        h1.donut-chart__data-amount= total
        h3.donut-chart__data-name= dataName
    if list
      .donut-chart__bullet-list
        +form-bullet-list({ rowGap: 'none', textIndent: 'small', listColor: 'main-theme', items: bulletItems })
