@use "@utils/devTools/devTools.scss";

.form-dropdown__item-quantity-list.menu-open {
  .iqdropdown-menu {
    border: var(--border-hover);
    border-radius: 0 0 var(--border-radius-size) var(--border-radius-size);

    button.button-decrement,
    button.button-increment {
      border: var(--border-hover);

      &.iqdropdown__counter_isDisabled {
        border: var(--border);
      }

      &:before {
        color: devTools.getColor(color__dark-shade, 0.5);
      }
    }
    .counter {
      font-weight: 700;
      color: devTools.getColor(color__dark-shade, 1);
    }
  }
}
