.form-rate-button__rating {
  display: inline;
  font-size: 24px / 14px * 1em;
  line-height: 1em;

  &:disabled {
    pointer-events: none;

    .form-rate-button__icon {
      cursor: initial;
    }
  }
}
