.form-elements-layout__rate-button {
  @media print, screen and (min-width: 992px) {
    & {
      grid-area: rate-button;
      display: grid;
      grid-template-columns: 10em 1fr;
      place-content: end start;
      place-items: end start;
      margin-bottom: 15px/320px * 100%;
    }
  }
}
