.form-elements-layout__rate-button {
  @media print, screen and (min-width: 1200px) {
    grid-area: rate-button;
    display: grid;
    grid-template-columns: #{140px / 14px * 1em} 1fr;
    place-content: end start;
    place-items: end start;
    margin-bottom: 14px / 320px * 100%;
  }
}
