@use '@thematic/main-theme.blocks/gradients.scss';

.form-like-button__button {
  border: var(--border);

  &:checked {
    background: linear-gradient(180deg, white, white) padding-box, gradients.primary(1) border-box;
  }

  &:before {
    color: rgba(var(--color__dark-shade), 0.25);
  }

  &:checked:before,
  &:checked + .form-like-button__counter {
    color: rgba(var(--color__primary), 1);
  }
}
