.form-checkbox-buttons__button-item {
  grid-area: button-item;
  appearance: none;
  width: 20px / 14px * 1em;
  height: 20px / 14px * 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;

  &:before {
    $border-width: 2px;
    content: '';
    width: calc(#{$border-width} + 20%);
    height: calc(#{$border-width} + 30%);
    border-bottom: $border-width solid black;
    border-right: $border-width solid black;
    opacity: 0;
    transform: rotate(45deg);
  }

  &:checked:before {
    opacity: 1;
  }
}
