.nav-bar__navigation-item_isDropdown {
  display: flex;
  position: relative;

  &:hover {
    & > .nav-bar__navigation-list {
      visibility: visible;
      opacity: 1;
      z-index: 1;

      & > .nav-bar__navigation-item_isDropdown {
        & > .nav-bar__expand-icon:after {
          transform: rotate(-90deg);
        }

        &:hover {
          & > .nav-bar__navigation-list {
            top: 0;
            left: 100%;
          }
        }
      }
    }
  }

  &.nav-bar__navigation-item_isActive > .nav-bar__expand-icon {
    &:after {
      content: "\e5cf";
    }
  }

  & > .nav-bar__navigation-list {
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity linear 0.2s;

    //redefine mobile
    overflow: initial;
    max-height: initial;

    & > .nav-bar__navigation-item {
      margin-right: 0;
    }
  }
}
