.form-field {
  color: rgba(var(--color__dark-shade), 0.25);
  border: var(--border);
  border-radius: var(--border-radius-size);

  &:hover,
  &:focus-within {
    color: rgba(var(--color__dark-shade), 0.75);
    border: var(--border-hover);
  }
}
