.headers-footers-layout {
  display: grid;
  grid: "nav-bar_isUnConfirmed" "nav-bar_isConfirmed" "footer_widgets" "footer_creative";
  grid-row-gap: 2.857142857142857em;
  margin-top: 3.928571428571429em;
}
