.form-radio-buttons__button-item {
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px / 14px * 1em;
  height: 20px / 14px * 1em;
  margin-right: 10px / 14px * 1em;
  border: 1px solid black;
  border-radius: 100%;
  cursor: pointer;

  &:before {
    content: '';
    width: 60%;
    height: 60%;
    background: black;
    border-radius: 100%;
    opacity: 0;
  }

  &:checked:before {
    opacity: 1;
  }
}
