include ~@common.blocks/primitives/icon/icon.pug

//-
  tag?: 'button' | 'a'
  text: string - inner text of button
  appearance?: 'filled' | 'bordered' | 'like-a-icon-link' | 'like-a-link'
  horizontalPadding?: 'large'(26px)
  verticalPadding?: 'small'(9px)
  Tip: mixin also uses 'and attributes'(&attributes)
mixin button({ tag = 'button', text = '', appearance = 'filled', horizontalPadding = '', verticalPadding = '' } = {})
  -
    const appearanceClass = `button_appearance_${appearance}`;
    const horizontalPaddingClass = horizontalPadding ? `button_horizontal-padding_${horizontalPadding}` : undefined;
    const verticalPaddingClass = verticalPadding ? `button_vertical-padding_${verticalPadding}` : undefined;
  #{tag}.button(class=[appearanceClass, horizontalPaddingClass, verticalPaddingClass])&attributes(attributes)= text || attributes.value
    if appearance === 'like-a-link'
      span.button__icon.button__icon_position_right
        +icon({ content: 'arrow_forward', width: 'large' })
