@use './variables.scss';

.button {
  min-width: 2em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: #{(2 * variables.$Y_PADDING + 1em) / 2} / 50%;
  padding: variables.$Y_PADDING variables.$X_PADDING;
  text-transform: uppercase;
  white-space: nowrap;
}
