.form-elements-layout__date-dropdown {
  @media print, screen and (min-width: 1200px) {
    grid-area: date-dropdown;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px / 14px * 1em;
    margin-top: 2px;
  }
}
