.form-elements-layout__logo-comfort {
  @media print, screen and (min-width: 1200px) {
    grid-area: logo-comfort;
    padding-top: 20px / 320px * 100%;
    padding-right: 40px / 320px * 100%;
  }
}
