@use '@utils/devTools/styles/mixins.scss';

.form-dropdown__item-quantity-list {
  height: 100%;
  display: flex;
  position: absolute;
  padding: 0;
  text-align: inherit;
  text-indent: inherit;
  border: 0;
  border-radius: 0;

  &.iqdropdown *:focus {
    outline-style: solid;
  }

  .iqdropdown-selection {
    flex: none;
    width: (15px + 160px) / 266px * 100%;
    color: inherit;
    font: inherit;
    @include mixins.ellipsisText;

    // remove lib selection-icon
    &::after {
      display: none;
    }
  }

  .iqdropdown-menu {
    top: 44px / 14px * 1em;
    padding: #{6px / 14px * 1em} #{7px / 14px * 1em} #{7px / 14px * 1em} #{15px / 14px * 1em};
    box-shadow: initial;
    border: 1px solid black;
    transition: none;
  }

  .iqdropdown-menu-option {
    height: initial;
    padding: 0;
    text-indent: 0;

    &:not(:first-of-type) {
      margin-top: #{7px / 14px * 1em};
    }
  }

  .iqdropdown-content {
    padding-right: 0;
    margin-right: 1em;
  }

  //replace lib buttons' icons
  .icon-decrement,
  .icon-increment {
    display: none;
  }
  .form-dropdown__counter-control {
    display: flex;
    align-items: center;

    button.button-decrement,
    button.button-increment {
      height: #{30px / 14px * 1em};
      width: #{30px / 14px * 1em};
      border-radius: 100%;
      border: 1px solid black;
    }
    button.button-decrement:before {
      content: '-';
    }
    button.button-increment:before {
      content: '+';
    }

    .counter {
      display: inline-block;
      width: #{30px / 12px * 1em};
      text-align: center;
      @include mixins.ellipsisText;
    }
  }
}
