extends ~@pug/layouts/main.pug

block variables
  - var lang = 'ru';
  - var keywords = 'webpack';
  - var description = 'page2 of awesome webpack config';
  - var title = 'page2';

block content
  .header
