//-
  name?: string - name of toggle button
  label?: string - text of label
  checked?: boolean - same as input checked
  Tip: mixin also uses 'and attributes'(&attributes)
mixin form-toggle({ name = 'toggle', label = '', checked = false } = {})
  .form-toggle&attributes(attributes)
    input.form-toggle__button(id=name, type="checkbox", name=name, checked=checked)
    if label
      label.form-toggle__label(for=name)= label
