.form-bullet-list__item {
  display: grid;
  grid: 'icon content';
  grid-column-gap: 10px / 14px * 1em;
  justify-content: start;
  align-items: baseline;

  &:before {
    content: '';
    display: inline-block;
    width: 10px / 14px * 1em;
    height: 10px / 14px * 1em;
    background: rgba(0, 0, 0, 1);
    border-radius: 100%;
  }
}
