extends ~@layouts/basic/colors-and-type-layout/colors-and-type-layout.pug

block append variables
  -
    title = 'Цвета и шрифт';
    description = 'Цвета и шрифты, используемые в макете сайта TOXIN';
    colorValues = {
      'Dark Shade 100%': '#1f2041',
      'Dark Shade 75%': '#1f2041',
      'Dark Shade 50%': '#1f2041',
      'Dark Shade 25%': '#1f2041',
      'Dark Shade 5%': '#1f2041',
      Purple: '#bc9cff',
      Green: '#6fcf97',
    };
    typeValues = {
      H1: { title: 'This one is the sub-section or widget title' },
      H2: { title: 'Next one is the item title inside widgets' },
      H3: { title: 'This is a label or CTA text' },
      Body: {
        tag: 'p',
        title:
          'This is the body text which is used for most of the design, like paragraphs, lists, etc',
      },
    };
