@use '@utils/devTools/styles/mixins.scss';

.sign-in-layout {
  height: 684px / 14px * 1em;
  display: grid;
  justify-content: center;
  align-items: center;

  @include mixins.backgroundAutoCarousel(
    '@assets/pictures/images/backgrounds/rooms/room-4.jpg'
      '@assets/pictures/images/backgrounds/rooms/room-3.jpg'
  );
}

.sign-in-layout__card_hidden {
  display: none;
}
