extends ~@layouts/basic/toxin-main-layout/toxin-main-layout.pug

//- components
include ~@common.blocks/containers/card-registration/card-registration.pug
include ~@common.blocks/containers/card-entering/card-entering.pug

block append variables
  -
    title = 'Регистрация и вход';
    description = 'Страница регистрации и входа в макете сайта TOXIN';

block content
  main.sign-in-layout
    +card-registration.sign-in-layout__card.sign-in-layout__card_hidden(name="registration")
    +card-entering.sign-in-layout__card(name="entering")
