.card-base {
  max-width: 380px / 14px * 1em;
  display: grid;
  align-items: center;
  padding: 30px / 14px * 1em;
  padding-top: 40px / 14px * 1em;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: white;

  @media print, screen and (min-width: 600px) {
    width: 380px / 14px * 1em;
  }
}
