.colors-and-type-layout {
  @media print, screen and (min-width: 0px) {
    & {
      display: grid;
      grid: "colors" "type";
      place-items: center center;
    }
  }

  @media print, screen and (min-width: 992px) {
    & {
      grid: "colors type" / auto 28.78571428571429em;
      place-content: normal space-between;
      place-items: normal;
    }
  }
}
