.form-elements-layout__expandable-checkbox-list {
  @media print, screen and (min-width: 1200px) {
    grid-area: expandable-checkbox-list;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-row-gap: 24px / 14px * 1em;
    padding-top: 20px / 320px * 100%;
    padding-right: 54px / 320px * 100%;
  }
}
