.form-elements-layout__dropdown-expanded-plural {
  @media print, screen and (min-width: 992px) {
    & {
      grid-area: dropdown-expanded-plural;
      margin-top: 21px/320px * 100%;
      margin-right: 54px/320px * 100%;
    }
  }
}
