.tooltip {
  $tooltipIconSize: 20px / 14px * 1em;
  $tooltipArrowSize: 5px / 14px * 1em;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: $tooltipIconSize;
  height: $tooltipIconSize;
  position: relative;
  border: 1px solid black;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;

  //Tooltip text container
  &:before {
    content: attr(data-content);
    top: $tooltipArrowSize + $tooltipIconSize;
    padding: 0.5em 1em;
    color: white;
    background-color: black;
    border-radius: 4px;
    word-break: normal;
  }

  //Tooltip arrow
  &:after {
    content: '';
    top: $tooltipIconSize;
    border-bottom: $tooltipArrowSize solid black;
    border-right: $tooltipArrowSize solid transparent;
    border-left: $tooltipArrowSize solid transparent;
  }

  //Setting up the transition
  &:before,
  &:after {
    transition: all 0.5s ease; //speed of closing
    opacity: 0;

    position: absolute;
    pointer-events: none;
    z-index: 10;
    text-align: center;
  }

  //Triggering the transition
  &:focus:before,
  &:focus:after,
  &:hover:before,
  &:hover:after {
    transition: all 0.75s ease; //speed of opening
    opacity: 1;
  }
}
