extends ~@pug/layouts/ui-kit-layout.pug

block variables
  - var keywords = 'UI-kit, цвета, шрифт';
  - var description = 'Цвета и шрифт, используемые в макете при верстке';
  - var title = 'Цвета и шрифт';
  - var colorValues = { Red: '#FF0000', Green: '#00FF00', Blue: '#0000FF' };
  - var typeValues = { H1: { title: 'This one is the sub-section or widget title' }, H2: { title: 'Next one is the item title inside widgets' }, H3: { title: 'This is a label or CTA text' }, Body: { tag: 'p', title: 'This is the body text which is used for most of the design, like paragraphs, lists, etc' } };

block content
  main.ui-kit-container.colors-and-type-layout
    .colors-and-type-layout__colors
      each color, colorDescription in colorValues
        article.color-sample
          .color-sample__sample
          h2.color-sample__name(data-color=color)= colorDescription
    .colors-and-type-layout__type
      each content, tagItem in typeValues
        - var tag = content.tag;
        article.type-sample
          if !content.tag
            - tag = tagItem.toLowerCase();
          #{tag}.type-sample__tag= tagItem
          #{tag}.type-sample__sample= content.title
