//- mixins
include ~@pug/mixins/meta.pug
include ~@pug/mixins/noscript-notification.pug

block variables

doctype html
html(lang=lang)
  head
    block head
    +meta(keywords, description, title)
  body
    +noscript()
    block header
    block content
    block footer
