.footer__list-checkbox {
  @media print, screen and (min-width: 0px) {
    display: none;

    & ~ .footer__list {
      display: none;
    }
    &:checked ~ .footer__list {
      display: grid;
    }

    &:checked + .footer__list-label {
      &:after {
        content: '\e5ce';
      }
    }
  }

  @media print, screen and (min-width: 992px) {
    & ~ .footer__list {
      display: grid;
    }

    &:checked + .footer__list-label {
      &:after {
        content: '';
      }
    }
  }
}
