.nav-bar__logo {
  grid-area: logo;
  display: grid;
  grid: 'logo title';
  grid-column-gap: 12.5px / 11.66666666656944px * 1em;
  align-items: center;
  justify-content: start;
  font-size: 11.66666666656944px / 14px * 1em;
}
