extends ~@pug/layouts/main.pug 

block variables
  - var lang = 'ru';
  - var keywords = 'webpack';
  - var description = 'page1 of awesome webpack config';
  - var title = 'page1';

block content
  .header