.card-room__data-row {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  height: 2.428571428571429em;

  &:not(:last-child) {
    border-bottom: 1px solid black;
  }
}
