.footer__logo {
  @media print, screen and (min-width: 0px) {
    & {
      grid-area: logo;
      align-self: self-start;
      display: flex;
      align-items: center;
      font-size: 1.285714285714286em;
      line-height: 1.285714285714286em;

      .logo {
        width: 2.222222222222222em;
        height: 2.222222222222222em;
        margin-right: 0.6944444444444444em;
      }
    }
  }
}
