include ~@common.blocks/basic/nav-bar/__navigation-list/nav-bar__navigation-list.pug
include ~@common.blocks/primitives/button/button.pug

//- 
  status?: 'confirmed' - add entering and registration btn or person link
    when 'confirmed'
      personHref: string - href for person account
      personName: string - person name
  items?: { [textContent: string]: { href: string, items?: [textContent: string]: { href: string, items?: } } } - recursive items of nav-bar list
  active?: string - key of active item
  Tip: mixin also uses 'and attributes'(&attributes)

mixin nav-bar({ status = 'unconfirmed', personHref = '/mock.html', personName = 'Константин Константинопольский', items = { 'О нас': { href: '/mock.html' }, Услуги: { href: '/mock.html', items: { 'Услуга 1': { href: '/mock.html' }, 'Услуга 2': { href: '/mock.html' }, 'Услуга 3': { href: '/mock.html' }, 'Услуга 4': { href: '/mock.html' }, 'Услуга 5': { href: '/mock.html' }, }, }, Вакансии: { href: '/mock.html' }, Новости: { href: '/mock.html' }, Соглашения: { href: '/mock.html', items: { 'Соглашение 1': { href: '/mock.html' }, 'Соглашение 2': { href: '/mock.html' }, 'Соглашение 3': { href: '/mock.html', items: { 'Соглашение 3-1': { href: '/mock.html', items: { 'Соглашение 3-1-1': { href: '/mock.html' } }, }, 'Соглашение 3-2': { href: '/mock.html' }, }, }, }, }, }, active = undefined } = {})
  header.nav-bar.js-nav-bar.content-container&attributes(attributes)
    section.nav-bar__logo
      .logo.logo_color_primary-gradient
      span.logo__title toxin
    nav.nav-bar__navigation
      +nav-bar__navigation-list(items, active)
    -
      const loginStatusClass = `nav-bar__login_status_${status}`;
    section.nav-bar__login(class=[loginStatusClass])
      case status
        when 'confirmed'
          a.nav-bar__person(href=personHref, title="в личный кабинет")= personName
        default
          +button({ tag: 'a', text: 'Войти', appearance: 'bordered', verticalPadding: 'small' })(
            href="/sign-in.html"
          )
          +button({ tag: 'a', text: 'Зарегистрироваться', verticalPadding: 'small' })(
            href="/sign-in.html"
          )
