//-
  tag?: string - tag of icon
  fontFamily?: 'material' | 'branded'(Font Awesome 5 Brands) - font-family of icon
  content?: string - unicode code or alias of icon
  width?: 'medium'(24px) | 'large'(44px) - width of icon
  height?: 'stretchable' | 'font' 
  color?: 'primary-gradient' - color of icon
  Tip: mixin also uses 'and attributes'(&attributes)
mixin icon({ tag = 'i', fontFamily = 'material', content = 'sentiment_satisfied', width = '', height = 'stretchable', color = '' } = {})
  -
    const fontFamilyLibClassDecoder = {
      'material': 'material-icons',
      'branded': 'fab',
    };
    const fontFamilyClass = fontFamilyLibClassDecoder[fontFamily];

    const widthClass = width ? `icon_width_${width}` : undefined;
    const heightClass = height !== 'stretchable' ? `icon_height_${height}` : undefined;
    const colorClass = color ? `icon_color_${color}` : undefined;
  #{tag}.icon(class=[fontFamilyClass, widthClass, heightClass, colorClass])&attributes(attributes)!= content
