@use "@utils/devTools/devTools.scss";

.donut-chart__slice {
  &:nth-of-type(2) {
    background: linear-gradient(180deg, white, white) padding-box,
      conic-gradient(
          transparent 0deg var(--start),
          devTools.getColor(color__secondary, 1) var(--start),
          devTools.getColor(color__secondary_additional, 1) var(--end),
          transparent var(--end)
        )
        border-box;
  }
  &:nth-of-type(3) {
    background: linear-gradient(180deg, white, white) padding-box,
      conic-gradient(
          transparent 0deg var(--start),
          devTools.getColor(color__primary, 1) var(--start),
          devTools.getColor(color__primary_additional, 1) var(--end),
          transparent var(--end)
        )
        border-box;
  }
}

.donut-chart__counter {
  color: devTools.getColor(color__primary, 1);

  .donut-chart__data-amount {
    color: inherit;
  }
  .donut-chart__data-name {
    color: inherit;
  }
}
